body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url("images/scrum-background.jpg");
    background-size: cover;
    min-height: 100vh;
    backdrop-filter: blur(5px);
}

header {
    background-color:rgb(37, 37, 130);
    color: rgb(192, 209, 209);
    margin-top: -25px;
}

main {
    text-align: left; 
    padding-top: 20px;
    padding-left: 20px;
    color:rgb(201, 201, 201);
    margin-top: -25px;
    background-size: cover;
}

main li {
    text-indent: 0;
}

footer {
    background-color:rgb(19, 19, 133);
    color: rgb(192, 209, 209);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#btn {
    background-color: rgb(110, 114, 115);
    margin-left: 40%;
    margin-right:40%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 50%;
    cursor: pointer;
}
